html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #73A6D8 no-repeat center center fixed;
  background-size: cover;
}

header {
  width: 100%;
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
  background-position: center;
}
footer {
  width: 100%;
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
  background-position: center;
}
