body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
nav {
  width: 100%;
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
  background-position: center;
}

