body {
  background: url("site/d2d.a7bf9f3aa804.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
 
}
nav {
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
}

