body {
  background: #73A6D8;  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}
nav {
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
}

