/* body*/
body {
  background-image: url("site/Bk.a1c84f927f8d.jpg");
  background-repeat: no-repeat;
  background-position: center;

}

nav {
  
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
}


