/* body*/
body {
  
  background-position: inherit;

}

nav {
 
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
  background-position: inherit;
}


footer {
 
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
  background-position: inherit;
}
