/* body*/
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
}

.hero-gradient {
  min-height: 50vh;
  display: flex;
  align-items: center;

  background: linear-gradient(
    to bottom,
    #98d7ee 0%,
    #528dee47 45%,
    #44679a 100%
  );

  color: white;
  padding: 80px 20px;
}

/* Headline */
.hero-title {
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  line-height: 1.2;
  color: #fff;
}

/* Highlight word */
.text-highlight {
  background: linear-gradient(90deg, #edeef0, #3b80e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Subtitle */
.hero-subtitle {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #4e69f5;
  max-width: 600px;
  margin: 0 auto;
}

/* Buttons */
.btn-dark {
  background-color: #000;
  border: none;
}

.btn-dark:hover {
  background-color: #222;
}

.btn-outline-light:hover {
  background-color: white;
  color: black;
}


