body {
  background: url(site/d2d.png); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav {
  background: url(site/water.gif);
  background-size: cover;
}

