{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Paid Orders</title>
<link rel="stylesheet" href="{% static 'Dyslexia_global.css' %}" />
<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
{% include 'nav.html' %}
<div class="container mt-5">
    <h2>Paid Orders</h2>
 {% if orders %}
{% for order in orders %}
<tr>
    <td>{{ order.id }}</td>
    <td>{{ order.full_name }}</td>
    <td>{{ order.email }}</td>
    <td>NAD {{ order.amount_paid }}</td>
    <td>{{ order.payment_method }}</td>
    <td>{{ order.date_ordered|date:"Y-m-d H:i" }}</td>
    <td>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="order_id" value="{{ order.id }}">
            <button type="submit" class="btn btn-warning btn-sm">Revert to Not Paid</button>
        </form>
    </td>
</tr>
{% endfor %}
{% endif %}
  
</div>
{% include 'footer.html' %}
</body>
</html>
