{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Author" content="Denilson Bernardo Da Fonseca" />
    <meta name="description" content="E-store" />
    <title>DyslexiaCore payment failed</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <script defer src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'jquery-3.7.1.js' %}"></script>
  </head>
  <body>
    {% block content %}

    <!-- Header-->
    <header class="bg-dark py-2">
      <a class="d-flex" href="{% url 'main' %}">
        <img
          src="{% static 'site/Dx.png' %}"
          alt="Dyslexia Logo"
          class="img-fluid"
          style="max-height: 80px"
        />
      </a>
      <div class="container px-2 px-lg-5 my-2">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Payment incomplete</h1>
          <p class="lead fw-normal text-white-50 mb-0">try again.</p>
        </div>
      </div>
    </header>
    <center><h1 class="mt-5">Payment Unsuccessful</h1></center>
    <center><p>You can return to the site by pressing the logo</p></center>
    {% endblock %}
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    {% include 'footer.html' %}
  </body>
</html>
