{% load static %}
{% load cart_extras %} 
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Receipt Page</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}" >
  <link rel="icon" type="image/png" href="{% static 'site/images/favicon.png' %}">
  <link href="{% static 'door.css' %}" rel="stylesheet" />
  <script type='text/javascript'>
  window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'b98a0116dbf3964155782c1e804c58c2d3e8b747', { region: 'eu' });
</script>
</head>

<body>
  {% block content %}
  <!-- Header -->
  <div class="container mt-4">
    <h2 class="w-27 bg-light text-dark">Receipt</h2>

    <!-- Order Summary Card -->
    <div class="card w-27 mb-4 justify-content-center">
      <div class="card-body">
        {% for product in cart_products %}
          <strong class="flex-nowrap">{{ product.name }}</strong> :
          {% if product.is_sale %}
            ${{ product.sale_price }}
          {% else %}
            ${{ product.price }}
          {% endif %}
          <br>
          <small>
            Quantity: {{ quantities|get_item:product.id }}
          </small>
          <hr>
        {% endfor %}
        <strong>Total:</strong> ${{ totals }}
      </div>
      <center>
    </div>
    <a href="{% url 'main' %}" class="btn btn-primary">Back to Home</a>
  </div>
</center>

{% endblock %}
</body>
</html>
