<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Info</title>
    <meta charset="UTF-8" />
    <meta name="Author" content="Denilson Bernardo Da Fonseca" />
    <meta name="discription" content="E-store" />
    <meta name="viewport" content="width=width-device,intial scale=1.0" />
    <link rel="icon" type="image/x-icon" href="image/icon.png" />
    <link href="info.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- header-->
    {% include 'header.html' %}

    <!-- body-->

    <!-- footer-->
    {% include 'footer.html' %}
    <h1>You are lost turn back</h1>
  </body>
</html>
