{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error 500.</title>
    <meta charset="UTF-8" />
    <meta name="Author" content="Denilson Bernardo Da Fonseca" />
    <meta name="discription" content="E-store" />
    <meta name="viewport" content="width=width-device,intial scale=1.0" />
    <link rel="stylesheet" href="{% static 'Dyslexia_global.css' %}" />
    <link rel="icon" type="image/x-icon" href="image/icon.png" />
    <link href="info.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {% block content %}
    <!-- header-->
    {% include 'nav.html' %}

    <!-- body-->
    <center>
      <h1 class="display-1 fw-bolder">Sir Da Fonseca didn't get all the bugs <br>Screenshot and send me this error on whatsapp 081 385 8181.</h1>
    </center>
    <!-- footer-->
    {% include 'footer.html' %}

    {% endblock %}
  </body>
</html>
