{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Author" content="Denilson Bernardo Da Fonseca" />
    <meta name="description" content="E-store" />
    <title>DyslexiaCore</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'Dyslexia_global.css' %}" />
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% block content %} {% endblock %}
    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>
