{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Dyslexia_global.css' %}" />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'main' %}">DyslexiaCore</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
        class="collapse navbar-collapse fw-bolder"
        id="navbarSupportedContent"
        >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item">
            <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'main' %}"
            >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'receipt' %}"
              >Receipt page</a
            >
          </li>              
            <li class="nav-item">
              <a class="nav-link" href="{% url 'door_to_door_relief' %}"
                >Door_to_door_relief</a
              >
            </li>

            <li class="nav-item dropdown fw-bolder">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Category</a
              >
              <ul
                class="dropdown-menu fw-bolder"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item fw-bolder" href="{% url 'stand' %}"
                    >Products</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="{% url 'category' 'Deals' %}"
                    >Deals</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'category' 'Accessories' %}"
                    >Accessories</a
                  >
                </li>
                <li>
                  <a
                  class="dropdown-item"
                  href="{% url 'category' 'Technology' %}"
                  >Technology</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'category' 'Hats' %}"
                  >Hats</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'category' 'Shirts' %}"
                  >Shirts</a
                  >
                </li>
                <li>
                  <a
                  class="dropdown-item"
                  href="{% url 'category' 'Outerwear' %}"
                  >Outerwear</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'category' 'Pants' %}"
                  >Pants</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'category' 'Dress' %}"
                  >Dresses and jumpsuits</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'category' 'Undergarments' %}"
                    >Undergarments</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'category' 'Other' %}"
                  >Socks</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'category' 'Shoes' %}"
                  >Shoes</a
                  >
                </li>
                <li>
                  <a
                  class="dropdown-item"
                    href="{% url 'category' 'Cosmetics' %}"
                    >Cosmetics</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'category' 'Other' %}"
                  >Health and wellness</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'category' 'Other' %}"
                    >special items</a
                  >
                </li>                
              </ul>
            </li>
            <!--  yyu-->
              
            <li class="nav-item dropdown fw-bolder">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >User Info</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'logout' %}"
                    >Logout</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'update_user' %}"
                    >Update_user</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'update_password' %}"
                    >Update_password</a
                  >
                </li>
                {% else %}
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'login' %}"
                    >Log_in</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'register' %}"
                    >Register</a
                  >
                </li>
                {% endif %}
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark">
              <i class="bi-cart-fill me-1"></i>
              Cart
              <span
                class="badge bg-dark text-white ms-1 rounded-pill"
                id="cart_quantity"
                >{{ cart|length }}</span
              ></a
            >
          </form>
          &nbsp;&nbsp;&nbsp; {% if user.is_authenticated %}
          <div class="navbar-item">Hi, {{ user.username }}</div>
          {% else %} {% endif %}
        </div>
      </div>
    </nav>
    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>
