{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'log.css' %}" />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% block content %} {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}

    <!-- Header-->
    <nav class="bg-dark py-2">
      <a class="d-flex" href="{% url 'main' %}">
        <img
          src="{% static 'site/Dx.png' %}"
          alt="Dyslexia Logo"
          class="img-fluid"
          style="max-height: 80px"
        />
      </a>
      <div class="container px-2 px-lg-5 my-2">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Update_password</h1>
          <p class="lead fw-normal text-white-50 mb-0">update your password</p>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col text-light">
          <br /><br />
          <form method="POST" action="{% url 'update_password' %}">
            {% csrf_token %} {{ form.as_p }}
            <br /><br />
            <button type="submit" class="btn btn-secondary">
              Update password
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endblock %} {%include 'footer.html' %}
  </body>
</html>
