/* body*/
body {
  background-image: url("site/Bk.a1c84f927f8d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
}

nav {
  width: 100%;
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
  background-position: center;
}

/* Animation field */
.will {
  width: auto;
  height: auto;
  position: relative;
  animation-name: logo;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: -2s;
}

@keyframes logo {
  0% {
    left: 0px;
    top: 0px;
    transform: rotateY(90deg);
  }
  16.6% {
    left: 100px;
    top: 0px;
    transform: rotateY(-90deg);
  }
  49.8% {
    left: 80px;
    top: 0px;
    transform: rotateY(90deg);
  }
  66.4% {
    left: 60px;
    top: 0px;
    transform: rotateY(-90deg);
  }
  83% {
    left: 40px;
    top: 0px;
    transform: rotateY(90deg);
  }
  99.6% {
    left: 20px;
    top: 0px;
    transform: rotateY(-90deg);
  }
  100% {
    left: 0px;
    top: 0px;
    transform: rotateY(90deg);
  }
}

footer {
  width: 100%;
  background: url("site/water.c69fca48df0e.gif");
  background-size: cover;
  background-position: center;
}
